html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .container {
    max-width: 960px;
  }
  
  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
    min-width: 250px;
  }
  
  .highlight{
    border-style: solid;
    border-width: 2px;
    font-weight: bold;
    border-color: greenyellow !important;
    box-shadow: 10px 10px 5px greenyellow !important;
  }

  .css-slider-value{
    min-width: 100px;
  }

  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }